/* universal */
* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* UPDATED HERO SECTION */
.flex-hero {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: #f8f8f8;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
.flex-hero-small {
  height: 35vh;
  margin: 0;
  padding-top: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #f8f8f8;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
.hero {
  position: relative;
  overflow: hidden;
}
.hero p {
  font-size: 20px;
}
.hero-line {
  width: 0;
  height: 4px;
  background-color: #C9A227;
  margin: 0 auto 10px auto;
  transition: width 1s ease-in-out;
}
.hero-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.hero-h1 {
  font-size: 65px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.hero-h1-small {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #C9A227;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cta:hover {
  background-color: #B08C1E;
}
.visible .hero-line {
  width: 50%;
}
.visible .hero-text {
  opacity: 1;
  transform: translateY(0);
}

/* Header CTA and menu styling */
.cta-all-button {
  padding: 10px 24px;
  background-color: rgb(240, 145, 44);
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  text-shadow: 
    2px, 2px, 6px rgba(0, 0, 0, 0.301);
  transition: all 0.3s ease;
}

.cta-all-button:hover {
  background-color: rgb(223, 127, 25);
  transform: perspective(500) rotate(0deg) scale(1.3);
  text-shadow:
  6px, 6px, 8px rgba(0, 0, 0, 0.301);
}

/* Possible background image styling ************************/ 
.home-hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/gallery_images/kdesignhouse.jpg'); /* Same image for background */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Content above the background */
.hero-content {
  z-index: 2; /* Ensure content stays on top of the background */
  text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5); /* Add subtle shadow to text for readability */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.213);
  justify-content: center;
}

.home-hero-content {
  z-index: 2;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.704);
  width: 100%;
  background-color: rgba(22, 22, 22, 0.129);
  justify-content: center;

}

.hero-old a {
  font-size: 16px;
  margin-bottom: 30px;
}
  /* -------- Nav Styling ---------- */
  .hoverX:hover {
    transform: perspective(500px) scale(1.3);
  }

  .nav-grad {
    background-image: linear-gradient(to top, black, rgb(60,60,60));
    color: white;
    border-left: 1px solid #C9A227;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 10;
    color: whitesmoke;
  }
  .navButton {
    padding-top: 16px;
    transition: all 0.3s ease-in-out;
  }
  .navButton:hover {
    transform: perspective(500px) scale(1.3);
    color: white;
  }
  .navh6 {
    padding-top: 16px;
  }

  .w3-container {
    margin-bottom: 80px;
  }

a {
  text-decoration: none;
}

  .big-title {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    z-index: 1;
    transform: perspective(500px) rotateX(0deg) scale(1.1); /* Slight scaling for effect */
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.2), 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        6px 6px 10px rgba(0, 0, 0, 0.4),
        10px 10px 16px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.bigish-title {
  font-size: 45px;
  font-weight: 600;
  width: 60%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: perspective(500px) rotateX(0deg) scale(1.1); /* Slight scaling for effect */
  text-shadow: 
      2px 2px 5px rgba(0, 0, 0, 0.2), 
      8px 8px 12px rgba(0, 0, 0, 0.3),
      10px 10px 20px rgba(0, 0, 0, 0.6); /* Stronger shadow on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  z-index:2;
  justify-self: center;
}

.scrolled {
  text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.1), /* Light shadow */
        4px 4px 6px rgba(0, 0, 0, 0.15), /* Deeper shadow */
        8px 8px 14px rgba(0, 0, 0, 0.2); /* Even deeper shadow for 3D effect */
    transform: perspective(500px) rotateX(5deg); /* Slight 3D rotation */
    z-index: 2;
}

.home-hero-content h2 {
  font-size: 40px;
  width: 60%;
  color: #fff;
  justify-self: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  z-index: 1;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: .4px #333;
}
.little-title {
  font-size: 38px;
  width: 60%;
  letter-spacing: 1.3;
  color: #fff;
  justify-self: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  z-index: 2;
  background-image: rgba(0, 0, 0, 0.802);
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: .4px #333;
}

/* to the top button styling */
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 10px 20px 10px 20px; /* Some padding */
  border-radius: 60px 25px 60px 25px;
  border-radius: 30px;
  font-size: 24px; /* Increase font size */
  background-color: rgb(197,159,45);
  color: #1a1a1a;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 100;
  text-shadow: 4px, 4px, 5px rgba(0,0,0,0.2);
}

/* Hover effect for normal screens */
.scroll-to-top:hover {
  background-color: rgb(211, 171, 48); /* Add a dark-grey background on hover */
  transform: perspective(500px) rotateX(0deg) scale(1.08); /* Slight scaling for effect */
    text-shadow: 
        2px 2px 5px rgba(0, 0, 0, 0.2), 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        6px 6px 10px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
}
/* If the button is clicked on mobile, disable the hover effect */
.scroll-to-top.clicked:hover {
  background-color: rgb(197,159,45); /* Reset the background color */
  transform: none; /* Remove the scaling effect */
  transition: 0.3s ease;
}

.buttonHome {
  text-align: center;
  font-family: 'fira sans', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 44px 16px;
  color: #C9A227;
  background-color: #1a1a1a;
  box-shadow: 4px 2px 6px 1px rgba(82, 81, 81, 0.508);
  transition: all 0.3s ease;
  cursor: pointer;
  left:0;
  z-index: 9;
}

.buttonHome:hover {
  transform: perspective(500px) rotateX(0deg) scale(1.1);
}

.buttonMenu {
  text-align: center;
  font-family: 'fira sans', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 14px;
  color: #C9A227;
  background-color: #1a1a1a;
  box-shadow: 4px 2px 6px 1px rgba(82, 81, 81, 0.508);
  transition: all 0.3s ease;
  cursor: pointer;
  right:0;
  z-index: 9;
}

.buttonMenu:hover {
  transform: perspective(500px) rotateX(0deg) scale(1.08);
}

/*********** Utility Classes *************/

.margin-top {
  margin-top: 16px;
}
.margin-bottom {
  margin-bottom: 5px;
}
.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}

.big-image {
  margin-left: 20%;
}

.bg-color {
 /* background-image: linear-gradient(to left, black, rgb(225, 225, 225), rgb(247, 245, 245)); /* rgb(245,153,6), rgb(5, 30, 99), */
  background-color:#1a1a1a;
  color: rgb(200,200,200);
  border-top: 2px solid rgb(197,159,45);
  z-index: 1;
}
.bg-linear {
  background-image: linear-gradient(to left, white, rgba(234, 234, 234, 0.542));
}

.tinyFont {
  font-size: 12px;
}
.copy {
  font-size: 10px;
}
.transform{
  transition: all 0.3s ease-in-out;
}
.transform:hover {
  transform: perspective(500px) scale(1.1);
}

/* CTA BUTTON IDEAS */

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

/* Gold with Black Text */
.cta-gold {
  background-color: #C9A227;
  color: #000000;
}
.cta-gold:hover {
  background-color: #B08C1E;
}

/* Black with Gold Text */
.cta-black {
  background-color: #000000;
  color: #C9A227;
  border-color: #C9A227;
}
.cta-black:hover {
  background-color: #333333;
}
/* Button container */
.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}


/* Font Weights and Styles */
  
  .fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
  }


  /* Gallery Section */

.gallery {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.gallery-item .gallery-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.gallery-item .gallery-image-mirror {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.gallery-item:hover .gallery-image-mirror {
  transform: scaleX(-1) scale(1.05);
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.gallery-description {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}

.gallery-description p {
  font-size: 1rem;
  color: #555;
}
 
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* Featured Products Carousel Section */
.featured-products-carousel {
  width: 100%;
  padding: 40px 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

/* Section Title */
.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Carousel Container */
.carousel-container {
  position: relative;
  overflow: hidden;
}

/* Carousel Styling */
.carousel {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

/* Individual Carousel Item */
.carousel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  min-width: 100%; /* Each item takes full width */
  padding: 20px;
  box-sizing: border-box;
}

/* Featured Text */
.featured-text {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Product Title */
.featured-text h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

/* Product Description */
.featured-text p {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

/* "More Info" Button Styling */
.more-info {
  background-color: #007bff;
  align-self: center;
  color: white;
  width: 40%;
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.more-info:hover {
  background-color: #0056b3;
}

/* Featured Image */
.featured-image img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Navigation Buttons */
.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 8;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.mobileText {
  margin-left: 40%;
  text-align: center;
}

/* CSS Styling for the Shipping Info section */
.shipping-info {
  background-color: #B8A899;
  background-color: #E3E3E3;
  background-color: #CACACA;  
  background-color: #FAFAFA;
  background-color: #0C1B2C;
  background-color: #1a1a1a;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 3px solid #C9A227;
  border-bottom: 3px solid #C9A227;
  margin: auto;
}

.shipping-info h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
  color: white;
  color: #B08C1E;
}

.info-description {
  font-size: 1.1em;
  color: #777;
  color: #CACACA;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.shipping-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.shipping-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 220px;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.219);
  transition: transform 0.3s ease;
}

.shipping-item:hover {
  transform: translateY(-5px);
}

.shipping-item i {
  font-size: 2.5em;
  color: rgb(60,60,60); /*#4CAF50 - green #0176f2 & #0056b3 - blue*/
  color: #B08C1E;
  margin-bottom: 15px;
}

.shipping-item h3 {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 10px;
}

.shipping-item p {
  font-size: 1em;
  color: #555;
}

/* ABOUT SECTION */
.about-info {
  background-color: #1a1a1a;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 2em;
  padding-left: 2em;
  text-align: center;
  /*
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;*/
  margin: auto;
}

.about-info h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: rgb(197, 159, 45);
}

.about-info p, .about-info a{
  font-size: 18px;
  padding: 32px;
  text-align: left;
  color: rgb(220,220,220);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.about-info a {
  padding: 6px 32px;
  border-radius: 12px;
  background-color: rgb(71, 71, 71);
  color: #f8f8f8;
  box-shadow: 4px 2px 6px 1px rgba(82, 81, 81, 0.508);
}
.about-info a:hover {
  background-color: rgb(40,40,40);
  box-shadow: 4px 2px 6px 1px rgba(82, 81, 81, 0.508);
}


/* --------------------- Alternating Section CSS ------------- */

/* Alternating Layout Section */
.alternating-layout {
  width: 100%;
  padding: 40px 30px;
  background-color: #0C1B2C;
  background-image: linear-gradient(to left, rgb(280,280,280), rgb(300,300,300), rgb(280,280,280));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  display: flex;
  justify-self: center;
  justify-content: space-around;
}

/* Container for the pairs */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 75%;
}
/* Pair Layout (default: Text left, Image right) */
.pair {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/* Reverse the order of the second pair */
.reverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* Text Styling */
.text {
  flex: 1;
  padding: 30px 20px;
  font-size: 14px;
  color: rgb(60,60,60);
  text-align: left;
}

.text p {
  line-height: 1.6;
}

/* Image Styling */
.image {
  flex: 1;
  padding: 20px;
  
}

.image img {
  max-width: 100%;
  height: 325px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Potential Shutter Product Page */

.image-container {
  width: 40%;
  overflow: hidden;
}

.image-container .image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Text Section (60% width) */
.text-container {
  width: 60%;
  padding-left: 20px;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.small-header {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

.content-paragraph {
  font-size: 16px;
  margin-bottom: 20px;
}

.bullet-points {
  list-style-type: disc;
  padding-left: 20px;
}

.bullet-points li {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Main Section */
.main-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.mobile-hide {
  display: flex;
  justify-content: center;
}

.mobile-display {
  display: none;
}


/* ------ Contact Page Styling ------ */

.contact-container {
  background-image: linear-gradient(#1a1a1a, #0c1b2c, #0C1B2C);
  background-color: #0C1B2C;
  padding-top: 4em;
  padding-bottom: 4em;
}

.contact-info {
    padding: 40px 20px;
    background-color: #fff;
    margin: 0 auto 25px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.contact-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-item {
    width: 45%;
    margin-bottom: 20px;
}

.contact-item h3 {
    font-size: 1.5em;
    color: #2E6A50;
}

.contact-item a {
    color: #4CAF50;
    color: #2E6A50;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

/* Contact Form Section */
.contact-form {
    padding: 40px 20px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.contact-form p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 8px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    justify-self: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    color: #333;
    display: flex;
    justify-content: center;
    justify-self: center;
}

textarea {
    resize: vertical;
}

button.submit-btn {
    background-color: #4CAF50;
    background-color: #2E6A50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 6px;
    display: block;
    width: 25%;
    display: flex;
    justify-content: center;
    justify-self: center;
}

button.submit-btn:hover {
    background-color: #387f60;
}

/* All Products and Product Pages CSS */

.containerProduct h1 {
  font-size: 30px;
}
.containerProduct {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}

.filter-container {
  text-align: center;
  margin-bottom: 26px;
}
.gable-filter-container {
  text-align: center;
  margin-bottom: 26px;
}

.filterArea {
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#product-filter {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
#gable-filter {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Product List */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.gable-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.product {
  width: 200px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.gableProduct {
  width: 200px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
}
.gableProduct:hover {
  transform: translateY(-5);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-name {
  font-size: 1.1rem;
  margin: 10px 0;
}

.more-info-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 120px;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.more-info-btn:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  top: 25px;
  max-width: 600px;
  height: auto;
  text-align: center;
  justify-self: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.modal-image {
  width: 100%;
  height: auto;
  max-width: 250px;
  margin-bottom: 10px;
  z-index: 10;
}

.close-button {
  font-size: 2rem;
  color: #007bff;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}

.close-button:hover {
  color: #0056b3;
  transform: perspective(500px) rotateX(0deg) scale(1.3);
}

footer {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1;
  z-index: 1;
}

footer h6{
  font-size:14px;
}

/* potential background */
.sectionLines {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}

/* Add lines to the section with .with-lines class */
.with-lines {
  position: relative;
}

.with-lines .line {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: orange;
  background-color: #C9A227;
  z-index: -1;
  animation: fadeLines 7s infinite linear;
}

/* Position lines with custom offsets */
.with-lines .line.line1 {
  left: 10px;
  background-color: rgb(199, 197, 197);
  background-color: rgb(192, 192, 192);
}

.with-lines .line.line2 {
  left: 20px;
}

.with-lines .line.line6 {
  background-color: rgb(199,197,197);
  background-color: rgb(192, 192, 192);
  right: 10px;
}
.with-lines .line.line7 {
  right: 20px;
}


/* Simple animation for the vertical lines */
@keyframes fadeLines {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.2;
  }
}

/* Responsive Design */
@media screen and (min-width: 1500px) {

  .shipping-details {
    justify-content: space-between;
  }
  
  .shipping-info h2 {
    font-size: 3em;
    margin-bottom: 14px;
  }
  
  .info-description {
    font-size: 1.6em;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  
  .shipping-item {
    padding: 24px;
    width: 260px;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.219);
    transition: transform 0.3s ease;
  }
  
  .shipping-item:hover {
    transform: translateY(-5px);
  }
  
  .shipping-item i {
    font-size: 2.8em;
    margin-bottom: 18px;
  }
  
  .shipping-item h3 {
    font-size: 1.8em;
    margin-bottom: 14px;
  }
  
  .shipping-item p {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 768px) {


  .w3-container {
    margin-bottom: 40px;
  }

  .buttonMenu {
    margin-top: 14px;
    z-index:100;
  }
  .buttonHome {
    margin-top: 14px;
    z-index:100;
  }

  /* ----- side image ------- */
.mobileImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/gallery_images/kdesignhousetwo.JPEG);
  min-height: 100%;
  width: fit-content;
}

/* horizontal scroll mobile styling */
.image-section {
  margin: 0;
  max-width: 100%;
  gap: 30px;
  padding: 20px;
}

.image-container {
  width: 100%;
  padding: 30px;
  margin: 0;
}

.mobileText {
  margin: 0;
}

.alternating-layout {
  width: 100%;
  display: flex;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  width: 100%;
}

/* Reverse the order for the first pair */
.reverse {
    flex-direction: column-reverse;
    justify-content: center;
}
/* Reverse the order of the second pair */
.mobile-reverse {
  flex-direction: column-reverse;
  justify-content: center;
}

/* Adjust the padding for text and image on mobile */
.text, .image {
    padding: 10px;
}

.text {
  text-align: center;
}

.image img {
  max-width: 100%;
  height: 200px;
  margin: 0;
}

/* shutter page mobile css */
.main-section {
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  margin-bottom: 20px;
}

.text-container {
  width: 100%;
  padding-left: 0;
}

/*
.hero {
  height: 90vh;
  text-shadow: none;
  /*background-color: rgba(0, 0, 0, 0.28);*
}*/


.flex-hero-small {
  height: 90vh;
}

.hero-h1-small {
  font-size: 50px;
}
.hero p {
  margin: auto;
  font-size: 18px;
  padding: 32px;
}

.big-title {
  padding-top: 60px;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-shadow:none; 
}
.bigish-title {
  padding-top: 40px;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-shadow: none;
}

.little-title {
  justify-self: center;
  align-self: center;
  width: 100%;
}


.cta-button, .cta-all-button {
  font-size: 14px;
}
/* modal and product css */
.modal {
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal-content {
  top: 65px;
  right: 2px;
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  text-align: center;
  justify-self: center;
  align-items: center;
}

/* contact page mobile */

.contact-methods {
  flex-direction: column;
}

button.submit-btn {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
}

.image.big-image {
  margin-left: 0;
}

.info-description {
  width: 100%;
  padding: 12px;
}

.shipping-details {
  justify-content: center;
  flex-direction: column;
}
.shipping-item {
  justify-self: center;
  align-self: center;
  width: 260px;
  padding-bottom: 20px;
  margin-bottom: 22px;
}

.shipping-info {
  margin: auto;
  justify-content: center;
  align-content: center;
  height: auto;
}
.container h2 {
  font-size: 2em;
}
.container p {
padding: 6px 40px;
}

.about-info {
  margin:auto;
  justify-content: center;
  align-content: center;
  height: auto;
}
.about-info h2 {
  font-size: 1.8em;
}
.about-info p {
  justify-content: center;
  flex-direction: column;
  padding: 1.4em;
}


footer h6 {
  text-align: center;
  margin: auto;
}

.mobile-display {
  display: flex;
  justify-content: center;
}

.mobile-hide {
  display: none;
}


.gallery-container {
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  margin: auto;
}
}

@media screen and (max-width: 480px) {
h2 {
  font-size: 1.2rem;
}
.gallery-description p {
  font-size: 0.8rem;
}
}